body {
    background-color: hsl(0, 0%, 35%);
    font-family: fantasy;
}

h1 {
    color: White;
    text-align: center;
}

h2 {
    color:skyblue;
    text-align: left;
}
#aboutme {
    background-color: dimgrey;
    text-align: center;
    padding: 4px;
    border: 1px solid white;
    margin: 75px;
    letter-spacing: 1px;
    
}
.abtme {
    background-color: skyblue;
}
ol {
    color: white;
    
}

